%h1.page-title CS-10 Intro to Computer Science
.row
    .three.columns.first
        %p
            CS-10 is a intro course to computer science
            at Westmont college. It is taught in scheme,
            and teaches the basic fundamentals of programming
            and computer science.


%h2 Example Project
.row
    .three.columns.first
        %p
            Here is a example of a Scheme project that
            I completed in CS-10.



        %p
            = image_tag "scheme-pic.JPG"