%h1.page-title CS-30 Intro to Computer Science II
.row
    .three.columns.first
        %p
            CS-30 is a continuation of CS-10 that
            builds onto the key ideas of computer
            science, using ruby.




%h2 Example Project
.row
    .three.columns.first
        %p
            Here is a example of a Ruby project that
            I completed in CS-30.



        %p
            = image_tag "rubypic.JPG"