%h1.page-title Resume



%h2 Work Experience:
.row
    .three.columns.first
        %p
            Limited experience with Web Design
        %p
            Limited experience with PowerPoint




%h3 Education:
.row
    .three.columns.first
        %p
            B.S. Westmont College, 2013 Computer Science

        %p
            = link_to "<span>Westmont Computer Science &raquo;</span>", "http://www.westmont.edu/_academics/departments/computer_science/", :class => 'large red button'




%h4 Contact Information:
.row
    .three.columns.first
        %p
            Email me at caochs@westmont.edu

        %p
            or call me at (909)289-5459



